.Message {
    font-family: sans-serif;
    text-align: right;
    height: 100vh;
    margin: 10px;
    display: block;
  }
  .sendbird-app__channellist-wrap{
    display: none !important;
  }
  .sendbird-chat-header .sendbird-chat-header__right__info {
    display: none !important;
  }
  .sendbird-conversation{
    height: 30vh;
  }