.Message {
    font-family: sans-serif;
    text-align: right;
    height: 100vh;
    margin: 10px;
    display: block;
  }
  .sendbird-app__channellist-wrap{
    display: none !important;
  }
  .sendbird-chat-header .sendbird-chat-header__right__info {
    display: none !important;
  }
  .sendbird-conversation{
    height: 70vh !important;
    width: 500px !important;
  }


  .sendbird-conversation__messages .sendbird-conversation__messages-padding {
    overflow-x: hidden !important;
  }

  .Message {
    height: 30px !important;
    position: fixed !important;
    bottom: 30px;
    right: 30px;
  }

  ::-webkit-scrollbar {
    display: none;
}